# Credenciales de administrador
ADMIN_USER=alnortegrow
ADMIN_PASSWORD=1234

# Configuración de Google Sheets
SPREADSHEET_ID=TU_SPREADSHEET_ID_AQUI

# Configuración del servidor
PORT=3001
NODE_ENV=development

# URL del frontend (para CORS)
FRONTEND_URL=http://localhost:3000 